/*hello world*/
#heading {
    height: auto;
    width: auto;
    font-size: 150px;
}

#pregunta {
    background: whitesmoke;
    height: auto;
    width: auto;
    font-size: 30px;
}

#time {
    background-color: whitesmoke;
}

#answ {
    background-color: whitesmoke;
}

footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    height: 50px;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    background-color: aqua;
    color: orangered;
}

body {
    background-image: url("../images/back.jpg")
} 
 
